{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <div style='text-align:center;'>{{ message }}</div>
    {% endif %}

    <div style='text-align:center;'>
            
        <h1>
            <b>
                <strong>
                    For You
                </strong>
            </b>
        </h1>
    </div>

    {% if user.is_authenticated %}

    <script type="text/babel" src="{% static 'network/react.jsx' %}"></script>
        <div id="react-root"></div>
    {% endif %}


    <div id="posts-view">
    </div>
   

    {% block script %}
        <script src="{% static 'network/post.js' %}"></script>
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script>
            var MEDIA_URL = "{{ MEDIA_URL }}";
        </script>
    {% endblock %}
{% endblock %}

