{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    {% if user.is_authenticated %}
        <div style='text-align:center;'>
            
            <h1>
                <b>
                    <strong>
                        
                        People you follow
                    </strong>
                </b>
            </h1>
        </div>
        <div id="posts-view">
        </div>
        {% block script %}
            <script src="{% static 'network/post.js' %}"></script>
        {% endblock %}
    {% endif %}
{% endblock %}