{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="uform">
            <div class="upload-form">
                <form id="compose-form" action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control" id="compose-content" placeholder="What's on your mind?">
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
                </form>
            </div>
        </div>
    {% endif %}

    <div id="posts-view">
    </div>
   

    {% block script %}
        <script src="{% static 'network/post.js' %}"></script>
        <script>
            var MEDIA_URL = "{{ MEDIA_URL }}";
          </script>
    {% endblock %}
{% endblock %}

