{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="Tinger">   
        <h1>
            <b>
                <strong>
                    <i class="fa-solid fa-hashtag"></i>
                    Tinger
                </strong>
            </b>
        </h1>
    </div>
    <div class="info">
        <h3>
            <p>
                Connect with friends and the world around you on Tinger
            </p>
            <a id= "ind" href="{% url 'login' %}"> Log in </a>
                 to start Tingering around the world <i class="fa-solid fa-globe"></i>
            <br>
            <br>
                New Here? You can 
                <a id= "ind" href="{% url 'register' %}"> Register </a>
                 for Free
            
        </h3>
    </div>
   {% block script %}
   <script src="{% static 'network/post.js' %}"></script>
        <script>
            var MEDIA_URL = "{{ MEDIA_URL }}";
        </script>
        {% endblock %}
{% endblock %}

