{% extends "network/layout.html" %}
{% load static %}

{% block body %}



{% if user.is_authenticated %}
{% endif %}
    <div style='text-align:center;'>        
        <h1>
            <b>
                <strong>
                    
                    Search Results
                </strong>
            </b>
        </h1>
    </div>

    {% if message %}
        <div style='text-align:center;'> {{ message }}</div>
    {% endif %}
    
    {% for entry in entries %}
        <div style='text-align:center;'><a id="ind" href="/profile/{{entry}}">{{ entry }} </a></div>
            
        {% endfor %}
   
{% block script %}

{% endblock %}
{% endblock %}