.post-item,  .edit-view{
    text-align: center;
    border: 1px solid #010101;
    padding:15px;   
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(179, 179, 179);
    max-width: 700px;
    width: 100%;
    
}

.puopff {
    text-align: center;
    width: 60%;
}

#nr-posts {
    text-align: center;
}

textarea {
    width: 95%;
    
}

.edit-view, .profile-edit{
    display: none;
}

.content {
    text-align: start;
}
.edit {
    text-align: end;
}

.up-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-button, .edit-button, #followers, #followings {
    background: none;
    border:none;
  }
.prof-pic {
    border-radius: 48%;
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}
.profile-pic {
    text-align:center;
    border-radius: 48%;
    border: 2px solid #010101;
}
.post-pic {
    border-radius: 48%;
    width: 50px; 
    height: 50px; 
    object-fit: cover;
    border-radius: 48%;
    border: 1px solid #010101;
}

.postDiv {
    
    display: grid;
    place-items: center;
    margin-left: 10%;
    margin-right: 10%; 
}

.left-bar {
    border: 1px solid #010101;
    min-width:40vh;
}


.upost {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

body {
    font-family: Arial, sans-serif;
    background-color:#333;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: auto 1fr auto;
    font-size: 2.5vh;
}

.body {
    background-color: rgb(255, 255, 255);
    
}
.right-bar {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid #010101;
    min-width:40vh;
}

nav {
    background-color: #333;
    padding: 15px;
  }

  ul {
    list-style-type: none;
    margin: 10%;
    display: flex;
    align-items: start;
  }


 

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
}


.uform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.upload-form {
    border: 1px solid #010101;
    text-align: center;    
    background-color: lightsteelblue;
    max-width: 700px;
    width: 100%; 
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-sizing: border-box; 
    margin-left: 10%;
    margin-right: 10%;
}

#compose-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


#compose-form button {
    margin-top: 10px;
}


.login-form {

    text-align:center;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    background-color:lightsteelblue;
    max-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150%;
}



.register-form {

    text-align:center;
    justify-content: center;
    align-items: center;
    width: 150%;
    margin: 0;
    background-color:lightsteelblue;
    max-width: 400px; /* Set a maximum width for the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p {
    line-height: 24px;
    margin: 10px;
}

.profile-section  {
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.pff, .puo
{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
}

.bio {   
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 75vh;
}

.Tinger {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-top: 40px;
    margin-left: 20%;
}
.info {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 20%;
    padding: 20px;
}
body {
    min-height: 100vh;
}

#edit-bio-btn, #settings {
    border-radius: 15%;
    border: 2px solid #010101;
}

.edit-bio {   
    display: none;
}

li {
    padding: 0;
    margin: 0;
}

#ind {
    color: #010101;
}

h1 {
    font-size: 3em; 
}
h5 {
    font-size: 2em; 
}

.suggestionDiv {
    padding: 5px;
}