.post-item {
    text-align: center;
    border: 1px solid #010101;
    padding:15px;   
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: lightsteelblue;
    max-width: 700px;
    width: 100%;
}

.prof-pic {
    border-radius: 48%;
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

.postDiv {
    
    display: grid;
    place-items: center;
    margin-left: 10%;
    margin-right: 10%; 
}

.left-bar {
    border: 1px solid #010101;
}


.upost {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

body {
    font-family: Arial, sans-serif;
    background-color:cadetblue;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: auto 1fr auto;
}

.body {
    background-color: steelblue;
    
}
.right-bar {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid #010101;
}

nav {
    background-color: #333;
    padding: 15px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }


 

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
}


.uform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.upload-form {
    border: 1px solid #010101;
    text-align: center;    
    background-color: lightsteelblue;
    max-width: 700px;
    width: 100%; 
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-sizing: border-box; 
    margin-left: 10%;
    margin-right: 10%;
}

#compose-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


#compose-form button {
    margin-top: 10px;
}

.login-form {

    text-align:center;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
    background-color:lightsteelblue;
    max-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.register-form {

    text-align:center;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    background-color:lightsteelblue;
    max-width: 400px; /* Set a maximum width for the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

